<div class="container p-10"><h2>Show bookings</h2></div>
<div class="container"><% @bookings.each do |b| %>
  <div class="card-product">
    <div class="card-product-infos">
      <h2><%= bike.bike_type %></h2>
      <p><strong>From:</strong> <%= bike.start_date %> </p>
      <p><strong>Until:</strong> <%= @bike.end_date %> </p>
       <p><strong>Price</strong> <%= @booking.price %> </p>
       <p><strong>Status</strong> <%= @booking.status %> </p>
    </div>
  <% end %>
</div>
