<div class="container p-10"><h2>Show bookings</h2></div>
<div class="container"><% @bookings.each do |b| %>
  <div class="card-product">
    <div class="card-product-infos">
      <%= @bike.bookings.each do |bike| %>
        <h2> <%= bike.model %> </h2>
      <% end %>
      <p><strong>From:</strong> <%= @booking.start_date %> </p>
      <p><strong>Until:</strong> <%= @booking.end_date %> </p>
      <p><strong>Price</strong> <%= @booking.price %> </p>
      <p><strong>Status</strong> <%= @booking.status %> </p>
    </div>
  <% end %>
</div>
