<div class="container">
    <h2>Send a booking request</h2>

<%= simple_form_for [ @bike, @booking ] do |f| %>
      <p><%= "From:" %></p>
      <%= f.text_field :start_date, class: "form-control",  placeholder: "From:" %>
      <p><%= "Until:" %></p>
      <%= f.text_field :end_date, class: "form-control",  placeholder: "Until:"  %>
  <%= f.submit "Send", class: "button-filled" %>
<% end %>

</div>