<div class="container">
    <h2>Send a booking request</h2>

<%= simple_form_for [ @bike, @booking ] do |f| %>
      <p><%= "From:" %></p>
      <%= f.text_field :check_in, class: "datepicker", value: @checkin, placeholder: "dd/mm/yyyy" %>
      <p><%= "Until:" %></p>
      <%= f.text_field :check_out, class: "datepicker", value: @checkin, placeholder: "dd/mm/yyyy"  %>
  <%= f.submit "Send", class: "button-filled" %>
<% end %>

</div>