<h2>Offer a Bike</h2>
<%= simple_form_for @bike do |f| %>
      <div class="form-inputs">
        <%= f.input :model,
               required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
        <%= f.input :bike_type,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :capacity,
                required: true,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :price,
                required: true,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :address,
                required: true,
                input_html: { autocomplete: "current-password" } %>
        <%= f.input :img_url %>
      </div>
      <div class="form-actions">
        <%= f.button :submit, "Make an Offer" %>
      </div>
<% end %>
    